*.exe
*.cache
*.dll
*.log
*.pdb
BakusaiSearch/.vs/BakusaiSearch/v16/.suo
BakusaiSearch/.vs/BakusaiSearch/v16/Server/sqlite3/db.lock
BakusaiSearch/.vs/BakusaiSearch/v16/Server/sqlite3/storage.ide
BakusaiSearch/.vs/BakusaiSearch/v16/Server/sqlite3/storage.ide-shm
BakusaiSearch/.vs/BakusaiSearch/v16/Server/sqlite3/storage.ide-wal
